h1, h2{
	color:purple;
}
h4{
	color:green;
	font-size:26px;
}
h5{
	color:green;
	font-size:20px;
}
.myClass{
	font-family:arial;
	font-size:24px;
	background-color:pink;
}

ul{
	font-family:arial;
	font-size:20px;	
	font-weight:bold
}
.myFirst{
	font-family:palatino;
	font-size:22px;	
	background-color:skyblue;
}
.myLast:hover{
	background-color:pink;
}
p {
	margin:40px
	padding:30px;
}
